# Week - 8: Distrbution Families - Assignment #


### Step 1: Import Essential Packages ###

In [2]:
import pandas as pd

### Step 2: Create dataframe from the required csv and basic exploration###

In [3]:
df = pd.read_csv(r"train.csv")
df.head()
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [18]:
print(df.shape)
sur = df['Survived'].value_counts()
print(sur)

(891, 12)
0    549
1    342
Name: Survived, dtype: int64

### Question 1: Survival probability for a passenger.###

In [18]:
survival = 100*342/890 #survived/total
print('Survival Rate = ', survival, '%')
P_survive = 342/890

Survival Rate =  38.42696629213483 %

In [11]:
df[df['Survived']==1].groupby(by='Sex').count()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,,
female,233,233,233,233,197,233,233,233,233,91,231
male,109,109,109,109,93,109,109,109,109,45,109

In [12]:
df[df['Sex']=='female'].count()

PassengerId    314
Survived       314
Pclass         314
Name           314
Sex            314
Age            261
SibSp          314
Parch          314
Ticket         314
Fare           314
Cabin           97
Embarked       312
dtype: int64

### Question 2: Survival probability for a female passenger..###

In [15]:
Ps_F = 233/314   #of female who survived / total#of female
Ps_F

0.7420382165605095

### Question 3: Probability that a person is a female and survives...###

In [22]:
# P(survive and female) = # female_survived / #total
PsF = 233 / 890
PsF

0.26179775280898876


### Question 4: Survival probability of a passenger given that the passenger is a female staying in first class....###

In [26]:
df[df['Survived']==1].groupby(['Sex'])['Pclass'].value_counts()
#Survive _ among female at 1st class = 94

Sex     Pclass
female  1         91
        3         72
        2         70
male    3         47
        1         45
        2         17
Name: Pclass, dtype: int64

In [30]:
df.groupby(['Sex', 'Survived'])['Pclass'].value_counts()
# Total number of  - female at 1st class = 94

Sex     Survived  Pclass
female  0         3          72
                  2           6
                  1           3
        1         1          91
                  3          72
                  2          70
male    0         3         300
                  2          91
                  1          77
        1         3          47
                  1          45
                  2          17
Name: Pclass, dtype: int64

In [31]:
PS_fem_1st = 91/94
PS_fem_1st

0.9680851063829787